* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #8ce68c;
    width: 100%;
    
}

.container {
    width: 35%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.form-signin {
    margin-top: 15px;
    width: 100%;
    background-color: #6ba4e6;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding-bottom: 5px;
    
}
.form-signin h2{
    text-align: center;
    
}

.form-signin .account-control {
    width: 50%;
    margin: 8px auto;
}

#_username {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 6px 0 5px 6px;
}

#_username:focus {
    outline: none;
}


#_email {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 6px 0 5px 6px;
}

#_email:focus {
    outline: none
}

#_password {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 6px 0 5px 6px;
}

#_password:focus {
    outline: none
}

.form-signin .account-control {
    margin-bottom: 8px;
}


button {
    margin: auto;
    padding: 5px 15px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
}

a:hover {
    color: darkblue;
}

